# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
*.iml
*.ipr
*.iws
.idea/*
*/.idea/*
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/
.project
.settings/
.*.md.html
node_modules/
public/system/lib
test/coverage/
modules/public/
modules/views/
/public/build/
/nbproject/private/
*.pui
*.prj
*.bup

coreDatabase/logger*
commonClient/jet/assets/libs/
commonClient/jet/css/libs/
commonClient/jet/js/libs/
commonClient/jet/scss/libs/
commonClient/angularJS/assets/libs/